{% extends "base.html" %}

{% block content %}
    {% for post in recent_posts %}
        <article itemscope itemtype="http://schema.org/BlogPosting">
            <h2 id="post-title">{{ post.title }} <a href="{{ post.permalink }}">♣</a></h2>
            <h3 id="post-created">
                {{ post.created|date:"D M j, Y" }}
            </h3>
            {% if post.edited %}
                <h3 id="post-edited">edited at {{ post.edited }}</h3>
            {% endif %}
            <div id="post-content">
                {{ post.html }}
            </div>
        </article>
    {% endfor %}
{% endblock %}

{# :vim:ft=htmldjango: #}
